                                    * {
                                        margin: 0;
                                        padding: 0;
                                        box-sizing: border-box;
                                    }
                                    
                                    body {
                                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                                        font-size: 16px;
                                        font-weight: regular;
                                    }
                                
                                    
                                    .nav1 {
                                       
                                        background-color: black;
                                        width: 100%;
                                       
                                        
                                     
                                    }
                                    #nav{
                                     margin-left: 50px;
                                     margin-top: 40px;
                                    }
                                    
                                    #nav li{
                                        padding: 10px;
                                        list-style: none;                                      
                                        text-decoration: none;
                                        font-size: 15px;
                                        display: inline;
                                        font-family: 'Courier New', Courier, monospace;
                                        
 
                                    }
                                    #nav li:hover {
                                        text-decoration: underline;
                                        color: rgb(240, 41, 101); 
                                        
                                    }
                                    
                                    #nav a {
                                        text-decoration: none;
                                        color: white; 
                                        
                                    }
                                  
                                    
                                 
                                    .header{
                                       height: 900px;
                                       background-color: black;
                                       position: relative;
                                    } 
                                    .headertext{
                                        text-align: right;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        color: white;
                                        font-family: 'Courier New', Courier, monospace;
                                      
                                    }
                                    .headerButton{
                                     
                                        border-style: solid;
                                        color: white;
                                        width: auto;
                                        font-size: 25px;
                                        position: absolute;
                                        top: 70%;
                                        left: 85%;
                                        transform: translate(-50%, -50%);
                                        color: white;
                                        font-family: 'Courier New', Courier, monospace;
      
                                    }
                                    
                                  
                                    .headerButton li{
                                    list-style: none;
                                    padding: 5px 15px;
                                    text-decoration: none;
                                    color: white;
                                    }

                                    .headerButton li:hover{
                                        list-style: none;
                                        padding: 5px 15px;
                                        text-decoration: none;
                                        color:rgb(240, 41, 101); 
                                        background-color: whitesmoke;
                                        font-weight: bold;
                                        }
                                    .headerButton a:hover{        
                                        text-decoration: none;                                    
                                        }
                            
                                    
                                  
                                    .name{
                                        color:  rgb(240, 41, 101); 
                                    }
                                    .project{
                                        text-align: left;
                                        box-sizing: border-box;
                                        padding: 10px;
                                        margin-right: 10%;
                                    }
                                    .project li {
                                        padding: 10px;
                                        list-style: none;                                      
                                        text-decoration: none;
                                        font-size: 15px;
                                        font-family: 'Courier New', Courier, monospace;
                                        color:  black ;
                                      
                                    }
                                    .project li:hover{
                                        text-decoration: underline;
                                        color:  rgb(240, 41, 101); 
                                    }
                                   
                            
                                    
                                    .flex {
                                        display: flex;
                                        text-align: center;
                                        justify-content: space-around;
                                    }
                                    
                                    
                                    .flex2 {
                                        display: flex;
                                        text-align: center;
                                        justify-content: space-around;
                                    }
                                    
                                    .flex2 H3 {
                                        font-weight: normal;
                                        font-size: 1em;
                                        margin: 0 15px;
                                    }
                                    
                                    .flex H3 {
                                        font-weight: normal;
                                        font-size: 1em;
                                        margin: 0 15px;
                                    }
                                    .line{
                                        text-decoration: line-through;
                                    }
                                    
                                    .box1  {
                                        
                                        color: black;
                                    }
                                    .box1 h1{
                                        font-family: 'Courier New', Courier, monospace;
                                        font-weight: bold;
                                    }
                                    .box1 h3{
                                        font-family: 'Courier New', Courier, monospace;
                                        text-align: left;
                                        margin-left: 75px;
                                    }
                                    
                                    .box2 .icon {
                                        color: rgb(53, 53, 218)
                                    }
                                    
                                    .box3 .icon {
                                        color: red;
                                    }
                                    
                                    .body2 {
                                        width: 20%;
                                        margin: auto;
                                    }
                                    
                                  
                                    .social {
                                        font-size: 30px;
                                        text-align: center;
                                        margin-top: 20px;
                                    }
                                    
                                    #so {
                                        /* display: block; */
                                        margin-top: 30px;
                                        text-align: center;
                                    }

                                
                                    .me {
                                        display: flex;
                                        text-align: right;
                                        align-items: center;
                                        justify-content: space-around;
                                    }
                                    
                                    .me img {
                                        margin-top: 20px;
                                        border-top-left-radius: 50%;
                                        border-bottom-right-radius: 50%;
                                        height: 300px;
                                    }
                                    .about {
                                        margin-top: 20px;
                                      
                                        height: 100px;
                                    }
                                    
                                    .me h1 {
                                        color: rgb(36, 36, 100);
                                    }
                                    .form{
                                        font-family: 'Courier New', Courier, monospace;
                                        font-weight: bold;
                                        display: flex;
                                        color: black;
                                        
                                      
                                        
                                    }
                                    .button{
                                        background: black;
                                        text-align: center;
                                        padding: 5px 25px;
                                        border-radius: 5px;
                                        color: white;
                                    }
                                    .button:hover{
                                        background: white; 
                                        text-align: center;
                                        padding: 5px 25px;
                                        border-radius: 5px;
                                        color: black;
                                        border-style: solid;
                                        border-color: black;
                                    }
                                    .input,
                                    .msg {
                                        margin-left: 10px;
                                        padding: 5px;
                                       border: 0;
                                       border-bottom: 2px solid black;
                                    }
                                    .msg{
                                        height: 110px;
                                    }
                                    .text{
                                        font-family: 'Courier New', Courier, monospace;
                                        font-weight: bold;
                                     
                                    }
                                    ::-moz-placeholder{
                                        color: black;
                                    }
                                    ::-ms-input-placeholder{
                                        color: black;
                                    }
                                    ::-webkit-input-placeholder{
                                        color: black;
                                    }
                                    @media (max-width: 768px) {
                                      
                                        .header{
                                            height: 40%;
                                           
                                         } 
                                         .headertext h1{
                                          font-size: 15px;
                                          
                                        }
                                        .headertext h2{
                                            font-size: 12px;
                                            
                                          }
                                        .headertext{
                                            text-align: right;
                                            position: absolute;
                                            top: 20%;
                                            left: 20%;
                                            transform: translate(-50%, -50%);
                                            color: white;
                                            font-family: 'Courier New', Courier, monospace;
                                          
                                        }
                                        .headerButton{
                                     
                                            
                                            color: white;
                                            width: auto;
                                            font-size: 10px;
                                            position: absolute;
                                            top: 30%;
                                            left: 58%;
                                            transform: translate(-50%, -50%);
                                            color: white;
                                            font-family: 'Courier New', Courier, monospace;
          
                                        }
                                        .headerButton li{
                                            list-style: none;
                                            font-size: 10px;
                                            text-decoration: none;
                                            color: black;
                                            background-color: white;
                                            font-weight: bold;
                                            }
                                            .project li {
                                               
                                                list-style: none;                                      
                                                text-decoration: none;
                                                font-size: 10px;
                                                font-family: 'Courier New', Courier, monospace;
                                                color:  black ;
                                                margin-top: 2px;
                                              
                                            }
                                            .project{
                                                text-align: left;
                                                box-sizing: border-box;
                                                padding: 0;
                                                margin: 0;
                                               
                                            }
                                            .text{
                                                font-size: 10px;
                                               
                                            }
                                            .text li{
                                                font-size: 10px;
                                            }
                                            .text h4{
                                                text-align: left;
                                                margin-left: 10px;
                                            }
                                            .text h3{
                                                text-align: left;
                                                margin-bottom: 10px;
                                            }
                                            .box1{
                                                display: inline-block;
                                            }
                                            .flex2 {
                                                display: block;
                                                text-align: center;
                                                justify-content: space-around;
                                            }
                                            .box1{
                                               margin: 0 auto;
                                               width: 95%;
                                            }
                                            .box1 h1{
                                                font-family: 'Courier New', Courier, monospace;
                                                font-weight: bold;
                                                font-size: 25px;
                                            }
                                            .box1 h3{
                                                font-family: 'Courier New', Courier, monospace;
                                                text-align: left;
                                                margin-left: 7px;
                                            }
                                            .me img {
                                                margin-top: 20px;
                                                border-top-left-radius: 50%;
                                                border-bottom-right-radius: 50%;
                                                height: 200px;
                                            }
                                            .about{
                                               margin-top: 10px;
                                                height: 50px;
                                                align-self: center;
                                            }
                                            .form{
                                                font-family: 'Courier New', Courier, monospace;
                                                font-weight: bold;
                                                display: block;
                                                color: black; 
                                                width: 80%;
                                                margin: 0 auto  
                                            }
                                            .box2  {
                                        
                                              width: 80%;
                                              margin: 0 auto;
                                            }
                                            .hide{
                                                visibility: hidden;
                                            }
                                            .input2{
                                               
                                              width: 80%;
                                             margin: 0 auto;
                                            }
                                            .button{
                                                background: black;
                                                text-align: center;
                                                padding: 5px 2px;
                                                border-radius: 5px;
                                                color: white;
                                                display: block;
                                                width: 100%;
                                            }
                                            .msg{
                                                margin-left: 0;
                                                width: 100%;
                                                margin-right: 15px;
                                            }
                                           
                                            /* #nav{
                                               visibility: hidden;
                                               } */
                                   
                                      }